site_name: fliser

repo_url: https://github.com/SimonLarsen/fliser

nav:
- Getting started: index.md
- Reference:
  - Fliser: reference/fliser.md
  - Masks: reference/masks.md

theme:
  name: material
  features:
  - navigation.tabs
  - navigation.tabs.sticky

plugins:
- search
- autorefs
- mkdocstrings:
    default_handler: python
    handlers:
      python:
        options:
          docstring_style: numpy
          modernize_annotations: false
          show_symbol_type_heading: true
          show_symbol_type_toc: true
          show_signature_annotations: false
          separate_signature: true
          signature_crossrefs: true
          merge_init_into_class: true
          parameter_headings: true
          show_root_heading: false
          docstring_options:
            ignore_init_summary: true
          show_source: false
          docstring_section_style: list

markdown_extensions:
- pymdownx.highlight:
    anchor_linenums: true
    line_spans: __span
    pygments_lang_class: true
- pymdownx.inlinehilite
- pymdownx.snippets
- pymdownx.superfences
- pymdownx.tabbed:
    alternate_style: true
